.products-container {
  font-family: "Arial", sans-serif;
  background-color: #282c34;
  color: #ffffff;
  width: 95%;
}

.filter {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-filter {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><polyline points="6 9 12 15 18 9"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  width: 100px;
}

.color-filter:hover {
  border-color: #888;
}

.color-filter:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.products-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

.product-item:hover {
  background-color: #28323c;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-img {
  width: 100px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-info div {
  display: flex;
  flex-direction: column;
}

.product-price {
  margin-top: 5px;
  color: #6c757d;
  text-align: left;
}

.product-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-controls button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.quantity-controls button:hover {
  background-color: #0056b3;
}

.quantity-controls span {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-width: 30px;
  text-align: center;
}

.remove-btn {
  padding: 5px 10px;
  border: none;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.remove-btn:hover {
  background-color: #c82333;
}

.total-amount {
  text-align: right;
  padding-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
